@import "/src/assets/css/style.scss";

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    margin: 0 8rem;
    gap: 5rem;

    .col-element {
        text-align: left;
        flex: 1;

        .heading-margin {
            margin-bottom: 2rem;
        }

        .button-text {
            
            &:link,
            &:visited {
                font-size: $default-font-size;
                font-weight: 700;
                color: $light-green;
                display: inline-block;
                text-decoration: none;
                border-bottom: 1px solid $light-green;
                padding: 3px;
                transition: 0.4s all;
            }

            &:hover {
                background-color: $light-green;
                color: $color-white;
                box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
                transform: translateY(-2px);
            }

            &:active {
                box-shadow: 0 .5rem 1rem rgba($color-black, 0.15);
                transform: translateY(0);
            }
        }

    }

    .heading-tertiary {
        font-size: $default-font-size;
        font-weight: 700;
        text-transform: uppercase;
    }

    .paragraph {
        font-size: $default-font-size;
    
        &:not(:last-child) {
            margin-bottom: 3.5rem;
        }
    }
}
